.search {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.customInput {
    position: relative;
    font-size: 1.2rem;
    padding-top: 20px;
    margin-bottom: 5px;
}

.customInput input {
    border: 2px solid var(--primary-color);
    appearance: none;
    padding: 10px;
    outline: none;
    margin-right: 20px;
}

.customInput .placeholder {
    font-family: 'Fira Code', sans-serif;
    position: absolute;
    left: 12px;
    top: 38px;
    transform: translateY(-50%);
    color: var(--tertiary-color);
    transition:
        top .3s ease,
        font-size .3s ease,
        color .3s ease;
}

.customInput input:valid + .placeholder,
.customInput input:focus + .placeholder {
    top: 8px;
    font-size: 1rem;
    color: var(--secondary-color);
}

.search button {
    font-family: 'Lato', sans-serif;
    height: 40px;
    position: relative;
    border: 2px solid var(--primary-color);
    background-color: white;
    transition: background-color 0.2s ease;
    font-size: 1rem;
    padding: 12px;
    top: 7px;
    display: inline-flex;
    align-items: center;
}

.search button:hover {
    background-color: var(--primary-color);
}