.search {
    display: flex;
    flex-direction: row;
}

.customInput {
    position: relative;
    font-size: 1.2rem;
    padding-top: 20px;
    margin-bottom: 5px;
}

.customInput input {
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    outline: none;
}

.customInput .placeholder {
    position: absolute;
    left: 12px;
    top: 38px;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top .3s ease,
        font-size .3s ease,
        color .3s ease;
}

.customInput input:valid + .placeholder,
.customInput input:focus + .placeholder {
    top: 8px;
    font-size: 1rem;
    color: #222;
}

.search > button {
    border: none;
    background-color: bisque;
}

.search > button:hover {
    background-color: aquamarine;
}